
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table>
<tr><th>Колонки</th><th></th></tr> <!--ряд с ячейками заголовков-->
 @if (ViewBag.Test != null)
            {
                    <tr>
            <td>
                @foreach (string test in ViewBag.Test)
                {
                            <span>| @test |</span>
                }
            </td>

            <td> 
            </td></tr> 
            <!--ряд с ячейками тела таблицы-->
        }
</table>
<hr />
<h2>Количество строк</h2>
<span >@ViewBag.Rows</span>
<hr />
<h2>Количество столбцов</h2>
<span>@ViewBag.Cols</span>
   
            
         
  
       
       
 

 

